
@{
    ViewData["Title"] = "Checkout";
}

    <div class="text-center" id="app">
        <h3 class="display-4">Checkout</h3>
        <p>Execute um novo checkout</p>
        <div class="row">
            <div class="col-md-5">
                <select class="form-control"></select>
            </div>
            <div class="col-md-5">
                <input type="number" step="0.01" class="form-control" />
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary">Realizar checkout</button>
            </div>            
        </div>
    </div>

