
@{
    ViewData["Title"] = "ConfirmItem";
}

<div class="text-center" id="app">
    <h3 class="display-4">Confirmar pedido</h3>
    <p>Deseja confirmar o pedido de número : @ViewBag.IdCheckout ?</p>
    <button class="btn btn-success" v-on:click="confirm(@ViewBag.IdCheckout)">Confirmar</button>
</div>

<script src="~/lib/Vue/ConfirmController.js"></script>