@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="app">
    <h1 class="display-4">ViajaNet</h1>
    <p>Projeto para processo seletivo na empresa ViajaNet.</p>
</div>

<script src="~/lib/Vue/HomeController.js"></script>