
@{
    ViewData["Title"] = "Landing";
}

<div class="text-center" id="app">
    <div class="row">
        <h3>Ultimos pedidos</h3>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Item</td>
                    <td>Quantidade</td>
                    <td>Checkout</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="it in orderList">
                    <td>
                        <select class="form-control" disabled v-model="it.itemTypeId">
                            <option v-for="item in itemList" :value="item.id">{{item.description}}</option>
                        </select>
                    </td>
                    <td>{{it.quantity}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="~/lib/Vue/LandingController.js"></script>